
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Portfolio page</title>
        <link rel="stylesheet" href="../static/style.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    </head>

    <body>
        <nav id="navbar" class="navbar">
            <div class="left-side-links">
                <a href="#main">About Me</a>
                <a href="#projects">My Projects</a>
                <a href="#contact">Contact</a>
            </div>

            <div class="right-side-links">
                <a href="https://github.com/Wikuska" target="_blank">
                    <i class="bi bi-github"></i>
                </a> 

                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>      
            </div>
        </nav>
        <div id="main">
            <div class="user-info">
                <div class="user-picture">
                    <img src="../static/assets/images/user-picture.jpg"/>
                </div>
                <div class="user-description">
                    <p>
                        Hello! My name is Wiktoria, and I am a bioinformatics student with a passion for solving problems 
                        through programming. Currently, I am focused on learning and mastering Python, a versatile language 
                        that I use to explore exciting projects at the intersection of biology and technology.
                    </p>
                    <p>
                        This portfolio is a showcase of my journey as I develop my skills and apply them to a variety 
                        of practice projects. From data analysis and algorithm development to creative programming solutions, 
                        each project here reflects my dedication to continuous learning and improvement.
                    </p>
                    <p>
                        I'm really excited to share my work and progress with you.
                    </p>
                </div>
            </div>
        </div>
        <div id="projects">
            <h2>MY RECENT PROJECTS</h2>
            <div class="topic-bar">
                <button class="topic-button" data-topic="web">Web Development</button>
                <button class="topic-button" data-topic="data">Data Science</button>
                <button class="topic-button" data-topic="game">Small Games</button>
            </div>

            <div class="projects-display" id="projects-display">
                
            </div>
        </div>
        <div id="contact">
            <div class="contact-me">
                <h2>SEND ME A MESSAGE!</h2>
            </div>
            <div class="contact-below-header">
                <h3>One of the projects caught your eye? You want to ask me a question? Feel free to contact me by feeling out the form below or message me on my socials!</h3>
            </div>
            <div class="contact-form">
                <div class="contact-form-upper">
                    <div class="contact-form-name">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="upper-container") }}
                    </div>
                    <div class="contact-form-email">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="upper-container") }}
                    </div>   
                </div>
                <div class="contact-form-msg">
                    {{ form.message.label(class="form-label") }}
                    {{ form.message(class="message-container") }}
                </div>
            </div>
        </div>
        <footer class="footer">
            <p>Copyright &copy;Portfolio page 2024</p>
            <div class="footer-links">
                <a href="https://github.com/Wikuska" target="_blank">
                    <i class="bi bi-github"></i>
                </a> 

                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
        </footer>
        <script src="../static/script.js"></script>
    </body>

</html>
